
{% extends "_base.html" %}
{% set title = "재고 조회" %}
{% block content %}
<div class="card">
  <h3>재고 조회</h3>
  <form method="get" action="/재고">
    <div class="row">
      <div>
        <label>창고</label>
        <input name="창고" value="{{ filters.창고 }}">
      </div>
      <div>
        <label>로케이션</label>
        <input name="로케이션" value="{{ filters.로케이션 }}">
      </div>
    </div>
    <label>품번</label>
    <input name="품번" value="{{ filters.품번 }}">
    <button type="submit">조회</button>
  </form>
</div>

<table>
  <thead>
    <tr><th>창고</th><th>로케이션</th><th>품번</th><th>LOT</th><th>수량</th><th>품명</th><th>규격</th></tr>
  </thead>
  <tbody>
    {% for r in rows %}
    <tr>
      <td>{{ r['창고'] }}</td>
      <td>{{ r['로케이션'] }}</td>
      <td>{{ r['품번'] }}</td>
      <td>{{ r['LOT'] }}</td>
      <td>{{ r['수량'] }}</td>
      <td>{{ r['품명'] }}</td>
      <td>{{ r['규격'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
