{% extends "_layout.html" %}
{% block body %}
<h2>이력 조회</h2>
<table>
  <thead>
    <tr>
      <th>로케이션</th>
      <th>품번</th>
      <th>품명</th>
      <th>LOT</th>
      <th>규격</th>
      <th>브랜드</th>
      <th>수량</th>
      <th>비고</th>
      <th>일시</th>
    </tr>
  </thead>
  <tbody>
  {% for r in rows %}
    <tr>
      <td>{{ r['location'] }}</td>
      <td>{{ r['item_code'] }}</td>
      <td>{{ r['item_name'] }}</td>
      <td>{{ r['lot'] }}</td>
      <td>{{ r['spec'] }}</td>
      <td>{{ r['brand'] }}</td>
      <td>{{ r['qty'] }}</td>
      <td>{{ r['memo'] }}</td>
      <td>{{ r['created_at'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
