{% extends "_layout.html" %}
{% block content %}
<div class="card">
  <h2>입고 완료</h2>
  <div class="kv">
    <div><b>품번</b> {{ row["product_code"] }}</div>
    <div><b>품명</b> {{ row["product_name"] }}</div>
    <div><b>LOT</b> {{ row["lot"] }}</div>
    <div><b>규격</b> {{ row["spec"] }}</div>
  </div>

  <div class="btnrow">
    <a class="btn" href="/print/ls-3108/{{ row['id'] }}?mode=one" target="_blank">라벨 출력 (LS-3108) 1칸</a>
    <a class="btn" href="/print/ls-3108/{{ row['id'] }}?mode=all" target="_blank">라벨 출력 (LS-3108) 전체</a>
  </div>

  <div class="btnrow">
    <a class="btn" href="/print/ls-3118/{{ row['id'] }}?mode=one" target="_blank">라벨 출력 (LS-3118) 1칸</a>
    <a class="btn" href="/print/ls-3118/{{ row['id'] }}?mode=all" target="_blank">라벨 출력 (LS-3118) 전체</a>
  </div>

  <p class="hint">라벨 내용은 요청대로 “품번/품명/LOT/규격”만 표시합니다.</p>
</div>
{% endblock %}
