{% extends "base.html" %}
{% block content %}
<h2>재고 이동</h2>
<table class="form">
<tr><th>품목코드</th><td><input id="item_code" /></td></tr>
<tr><th>제품명</th><td><input id="item_name" /></td></tr>
<tr><th>LOT</th><td><input id="lot" /></td></tr>
<tr><th>수량</th><td><input id="quantity" type="number" value="1" /></td></tr>
<tr><th>출발지</th><td><input id="from_location" /></td></tr>
<tr><th>도착지</th><td><input id="to_location" /></td></tr>
<tr><th>비고</th><td><input id="remark" /></td></tr>
</table>
<button onclick="submitMove()">이동 처리</button>
<pre id="result"></pre>
{% endblock %}
{% block scripts %}
<script type="module" src="/static/js/move.js"></script>
{% endblock %}
